# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/
# .claude config
.claude/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Task files
Codebase Cleanup and About Page.md
Refactor Admin OrderList.md
TODO - Code Review Creasoka.md
Améliorations Suggérées.txt

# Documentation Skills
PROJET_REACT_SKILLS_GUIDE.md
QUICK_START.md
SKILL-NextJS-React-Washburn.md
TECHNOLOGIES_APPLICABLES.md
docs/