@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 276 100% 82%; /* Couleur parme exacte de Crea'Soka */
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 276 100% 92%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 276 100% 82%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 276 100% 82%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 276 50% 30%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 276 100% 82%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  html,
  body {
    @apply overflow-x-hidden max-w-[100vw];
  }
  body {
    @apply bg-background text-foreground transition-colors duration-300;
  }
}

/* Classes pour les détails de création */
.creation-detail h1 {
  @apply text-4xl font-bold mb-4;
}

.creation-detail h2 {
  @apply text-3xl font-bold mb-6;
}

.creation-detail p,
.creation-detail li {
  @apply text-lg leading-relaxed;
}

.creation-detail .badge {
  @apply text-base;
}

.creation-detail .description {
  @apply text-lg;
}

.creation-detail .details li {
  @apply my-2 text-lg;
}

.text-creasoka {
  color: #d8a2ff;
}

.dark .text-creasoka {
  color: #e5c6ff;
}

.bg-creasoka {
  background-color: #d8a2ff;
}

.dark .bg-creasoka {
  background-color: #b57ddb;
}

.border-creasoka {
  border-color: #d8a2ff;
}

.dark .border-creasoka {
  border-color: #b57ddb;
}

.hover\:text-creasoka:hover {
  color: #d8a2ff;
}

.dark .hover\:text-creasoka:hover {
  color: #e5c6ff;
}

.hover\:bg-creasoka:hover {
  background-color: #d8a2ff;
}

.dark .hover\:bg-creasoka:hover {
  background-color: #b57ddb;
}

.data-\[state\=active\]\:text-creasoka[data-state="active"] {
  color: #d8a2ff;
}

.dark .data-\[state\=active\]\:text-creasoka[data-state="active"] {
  color: #e5c6ff;
}
